$color-white: #fff;

$color-primary: #5c2299;
$color-primary-hover: #7544aa;
$color-primary-active: #cfbce4;

$color-secondary: #fe3090;
$color-secondary-hover: rgb(194, 78, 132);
$color-secondary-active: #e4c6df;

$color-dark-gray: #222222;
$color-darkest-gray: #3d3d3d;
$color-med-gray: #4e4e4e;
$color-medest-gray: #909090;
$color-light-gray: #999999;
$color-lightest-gray: #f5f5f5;
$color-comments-text: #f86161;
