.detail {
  &__container {
    position: fixed;
    padding: 5px;
  }

  &__author {
    font-size: 20px;
  }

  &__thumbnail {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__href {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    text-decoration: none;
    background-color: $color-dark-gray;
    border-radius: 5px;
    width: 115px;
    height: 40px;
    margin-top: 10px;
  }
}
