.detail {
  &__container {
    position: fixed;
    padding: 5px;
  }

  &__author {
    font-size: 20px;
  }

  &__thumbnail {
    display: flex;
    justify-content: center;
    height: 100px;
  }
}
