.home {
  &__container {
    display: flex;
  }

  &__left {
    width: 30%;
    background-color: black;

    @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
      width: 55%;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    width: 30%;
    background-color: black;

    @media (min-width: map-get($grid-breakpoints, xs)) and (max-width: map-get($grid-breakpoints, sm)) {
      width: 55%;
    }
  }

  &__content {
    height: 100%;
    background-color: black;
    min-height: 1024px;
  }

  &__pager {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
  }

  &__posts {
    display: flex;
    width: 70%;
  }

  &__spinner {
    color: $color-white;
  }
}
