.post {
  &__container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    color: $color-white;
  }

  &__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &--unread {
      background-color: blue;
    }
    &--read {
      background-color: red;
    }
  }

  &__dismiss {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    margin-right: 10px;
  }
}

.posts {
  &__container {
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
  }
}
